In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
sns.set_theme(rc={'figure.figsize':(16,7)})
sns.set_style("whitegrid")

In [3]:
df = pd.read_csv("../../data/validation/eda.csv")

In [4]:
df

         Unnamed: 0 control_time  white_elo  black_elo   eval  count_moves
0                 0         60+0        886        919  False           38
1                 1         60+0       1723       1733  False          112
2                 2         60+0       1500       1270  False           50
3                 3         60+0       1347       1304  False           35
4                 4         60+0       1168       1159  False           11
...             ...          ...        ...        ...    ...          ...
5033495     3502295        180+0       1297       1292  False           62
5033496     3502296         60+1       1713       1567  False           62
5033497     3502297        180+0       2160       2068  False           47
5033498     3502298         60+1       1466       1642  False           60
5033499     3502299         60+1       1498       1601  False           72

[5033500 rows x 6 columns]

In [5]:
elo = ((df["white_elo"] + df["black_elo"]) // 200) * 100
df["elo"] = elo

In [6]:
i = 0
values = []
for value, count in df["control_time"].value_counts().items():
    if i < 15:
        values.append(value)
        i += 1
        
new_column = []
for v in list(df["control_time"]):
    if v in values:
        new_column.append(v)
    else:
        new_column.append("other")

df["control time"] = new_column

In [7]:
df_small = df.head(1000000)
df_small

,Unnamed: 0,control_time,white_elo,black_elo,eval,count_moves,elo,control time
0,0,60+0,886,919,False,38,900,60+0
1,1,60+0,1723,1733,False,112,1700,60+0
2,2,60+0,1500,1270,False,50,1300,60+0
3,3,60+0,1347,1304,False,35,1300,60+0
4,4,60+0,1168,1159,False,11,1100,60+0
...,...,...,...,...,...,...,...,...
999995,999995,180+2,1900,1990,False,23,1900,180+2
999996,999996,180+2,1738,1705,False,37,1700,180+2
999997,999997,180+2,1311,1330,False,53,1300,180+2
999998,999998,180+2,1918,1894,True,118,1900,180+2
999999,999999,180+2,1305,1308,False,12,1300,180+2

In [8]:
df_small["elo"].value_counts()

elo
1700    100878
1600     96379
1800     95135
1500     92687
1400     85035
1900     82537
1300     73890
2000     63683
1200     63148
1100     51000
2100     43675
1000     40850
900      28592
2200     25760
800      17288
2300     14215
700       8469
2400      7262
2500      3228
600       2901
2600      1736
2700       819
2800       468
500        239
2900       112
400         12
3000         2
Name: count, dtype: int64

In [9]:
df_small["control time"].value_counts()

control time
60+0      280034
180+0     197064
300+0     146810
600+0     105432
180+2      76746
120+1      65137
300+3      48712
other      22340
600+5      19779
15+0       11848
30+0        7279
900+10      5427
1800+0      3814
900+0       3541
60+1        3093
120+0       2944
Name: count, dtype: int64

In [10]:
order = []
for value, count in df_small["control time"].value_counts().items():
    if value != "other":
        order.append(value)
order.append("other")
order

['60+0',
 '180+0',
 '300+0',
 '600+0',
 '180+2',
 '120+1',
 '300+3',
 '600+5',
 '15+0',
 '30+0',
 '900+10',
 '1800+0',
 '900+0',
 '60+1',
 '120+0',
 'other']

In [11]:
plot = sns.countplot(data=df_small, x="control time", legend=False, color=sns.color_palette("husl", 24)[2], order=order, stat="percent")
fig = plot.get_figure()
fig.savefig(f'../docs/plots/plot_eda_time.pdf')
plt.close()

In [12]:
plot = sns.countplot(data=df_small[df_small["control time"] == "600+0"], x="elo", legend=False, stat="percent", color=sns.color_palette("husl", 24)[2])
fig = plot.get_figure()
fig.savefig(f'../docs/plots/plot_eda_elo.pdf')
plt.close()